.homepage-hero-container .home-submit-button,
.homepage-skill-container .skill-submit-button,
.homepage-experience-container .experience-submit-button,
.blog-submit-button {
  width: 100%;
  margin-top: 10px;
  border: 1px solid var(--button-color);
  /* border-radius: var(--content-radius); */
  height: 40px;
  background: var(--button-color);
}
.homepage-skill-container .skill-submit-button span {
  font-size: 18px !important;
}

.homepage-skill-container .create-skill-button span {
  font-size: 14px !important;
}

.homepage-experience-container .working-status span {
  font-size: var(--label-font-size);
}
.homepage-experience-container .designation {
  font-size: var(--label-font-size) !important;
}
.homepage-experience-container .add-field {
  font-size: 14px;
}

.heading-note {
  background: #ffd8d8;
  padding: 25px;
  border: 1px solid red;
  border-radius: 15px;
  margin-bottom: 15px;
}
.heading-note h1 {
  color: red;
  font-weight: 400;
  text-align: center;
}

/* responsibility field */
.responsibility-field {
  width: 60vw !important;
}
.responsibility-field .responsibility-input {
  width: 60vw !important;
}

/* box shadow */
.box-shadow {
  box-shadow: 20px 16px 16px -8px rgba(0, 0, 0, 0.08);
}
.exp-details .experience-title {
  font-size: 24px;
  color: #103559;
  margin-bottom: 15px;
}
.exp-details .overview .exp-title .heading {
  font-size: 18px;
  color: #103559;
  font-weight: 600;
  display: inline-block;
  min-width: 120px;
}
.exp-details .overview .exp-title .heading-value {
  color: #717171;
  font-size: 18px;
  font-weight: 400;
}

/* .exp-details .box-container {
  background: red;
} */
.capital-case {
  text-transform: capitalize !important;
}
.exp-details .box-container {
  margin-bottom: 15px;
}
.exp-details .box-container .ant-card-body {
  width: 100% !important;
  display: flex;
}
.exp-details .box-container .overview {
  width: 70% !important;
  display: block;
}
.exp-details .box-container .edit-container {
  width: 30% !important;
  display: flex;
  justify-content: end;
  align-items: start;
}
.exp-details .box-container .edit-container .edit-icon {
  background: #dddddd;
  width: 40px;
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.view-container {
  display: flex;
  justify-content: end;
}

/* break points */
@media (max-width: 576px) {
  .exp-details .overview .exp-title .heading {
    width: 100%;
  }
}
