.homepage-hero-container .home-submit-button,
.homepage-skill-container .skill-submit-button,
.homepage-experience-container .experience-submit-button,
.blog-page-container .blog-submit-button {
  width: 100%;
  margin-top: 10px;
  border: 1px solid var(--button-color);
  /* border-radius: var(--content-radius); */
  height: 40px;
  background: var(--button-color);
}
.homepage-skill-container .skill-submit-button span {
  font-size: 18px !important;
}

.homepage-skill-container .create-skill-button span {
  font-size: 14px !important;
}

.homepage-experience-container .working-status span {
  font-size: var(--label-font-size);
}
.homepage-experience-container .designation {
  font-size: var(--label-font-size) !important;
}
.homepage-experience-container .add-field {
  font-size: 14px;
}

.heading-note {
  background: #ffd8d8;
  padding: 25px;
  border: 1px solid red;
  border-radius: 15px;
  margin-bottom: 15px;
}
.heading-note h1 {
  color: red;
  font-weight: 400;
  text-align: center;
}
